@using Blazor.Heroicons;

<div class="sm:border-box w-full pt-4 sm:pt-14 sm:sticky sm:top-0">
  <div class="h-fit w-full overflow-hidden rounded-lg border border-black/[.1] bg-slate-100 dark:bg-neutral-950 dark:border-white/[.15]">
    <div class="flex h-8 items-center border-b border-b-black/[.1] bg-white/[.7] px-4 dark:bg-neutral-900 dark:border-b-white/[.15]">
      <p class="text-sm">Snippet info</p>
    </div>
    <div class="flex h-full w-full flex-col px-4 py-4 text-sm">
      <div class="flex gap-2">
        <p class="line-clamp-1 font-semibold text-slate-800 dark:text-neutral-200">
          @Title
        </p>
        <div
          class="flex items-center justify-center overflow-hidden rounded-2xl border border-black/[.1] bg-slate-200 px-2 dark:bg-neutral-800 dark:border-white/[.15]"
        >
          <p class="text-xs">@Access</p>
        </div>
      </div>
      <p class="my-4 line-clamp-3 text-slate-600 dark:text-neutral-300">
        @Description
      </p>
      <ul class="flex flex-col gap-1">
        @foreach (SnippetStatModel stat in StatsList)
        {
          <li>
            <div class="flex items-center gap-2">
              <Heroicon Name="@stat.IconName" Type="HeroiconType.Outline" class="h-4 w-4 text-gray-700 dark:text-neutral-400" />
              <h1 class="line-clamp-1 text-slate-800 dark:text-neutral-300">
                @stat.Value
              </h1>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>
</div>