@inherits ComponentBase

<div class="mt-14 h-fit w-full overflow-hidden rounded-lg border border-black/[.1] dark:border-white/[.15]">
  <div class="flex h-8 w-full items-center border-b overflow-hidden border-b-black/[.1] bg-slate-100 dark:bg-neutral-950 dark:border-b-white/[.15]">
    <CodeFileTabs CodeFileManager="CodeFileManager" IsReadOnly="IsReadOnly" />
    <div class="h-full">
      <CodeEditorContextMenu CodeFileManager="CodeFileManager" IsOwner="IsOwner" IsReadOnly="IsReadOnly" />
    </div>
  </div>
  <div class="w-full bg-white dark:bg-neutral-950">
    <CodeMirrorWrapper
      @bind-Text="CodeFileManager.GetCurrentFile().Text"
      TabSize="4"
      ReadOnly="@IsReadOnly"
      Language="@ActiveLanguage"
    />
  </div>
</div>
