@using Blazor.Heroicons;
@using Blazor.Heroicons.Outline;

<button
  type="button"
  id="editorContextMenuButton"
  data-dropdown-offset-skidding="-60"
  data-dropdown-toggle="editorContextMenu"
  class="w-6 h-full flex items-center justify-center hover:bg-slate-200 dark:hover:bg-neutral-800"
>
  <EllipsisVerticalIcon class="text-gray-700 h-4 w-4 dark:text-neutral-400" />
</button>
<div
  id="editorContextMenu"
  class="z-10 hidden py-1 bg-slate-100 border border-black/[.1] rounded-lg shadow w-fit dark:bg-neutral-950 dark:border-white/[.15]"
>
  <ul class="py-1 text-sm text-gray-700 dark:text-neutral-300" aria-labelledby="editorContextMenuButton">
    @foreach (ContextMenuModel entry in _contextMenuEntries.Where(entry => entry.IsVisible))
    {
      <li>
        <button
          type="button"
          @onclick="() => CallChildFunction(entry.ModalTarget)"
          class="px-3 py-1 flex w-full hover:bg-white/[.4] items-center gap-2 dark:hover:bg-white/[.2]">
          <Heroicon Name="@entry.IconName" Type="@HeroiconType.Outline" class="h-3 w-3"/>
          <p>@entry.Text</p>
        </button>
      </li>
    }
  </ul>
</div>

<EditFileNameModal @ref="_editModal" CodeFileManager="CodeFileManager" />
<DeleteFileModal @ref="_deleteModal" CodeFileManager="CodeFileManager" />
