<div
  id="deleteFileModal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden h-screen p-4 overflow-x-hidden overflow-y-auto md:inset-0"
>
  <div class="w-full p-4 max-w-xs max-h-full flex border border-black/[.1] flex-col items-center bg-slate-100 rounded-lg shadow dark:bg-neutral-950 dark:border-white/[.15]">
    <div class="p-2 text-center">
      <p>
        Are you sure you want to delete file?
      </p>
    </div>
    <div class="flex gap-4 items-center p-2 pt-3">
      <button
        data-modal-hide="deleteFileModal"
        type="button"
        @onclick="DeleteFileAction"
        class="bg-sky-400 border hover:bg-sky-500 transition-colors border-black/[.1] px-4 py-2 rounded-lg overflow-hidden"
      >
        <p class="text-white text-sm">Sure</p>
      </button>
      <button
        data-modal-hide="deleteFileModal"
        type="button"
        class="text-gray-500 hover:text-gray-700 transition px-4 py-2 rounded-lg border border-black/[.1] overflow-hidden hover:bg-slate-200 dark:text-neutral-300 dark:border-white/[.15] dark:hover:bg-neutral-900"
      >
        <p class="text-sm">Cancel</p>
      </button>
    </div>
  </div>
</div>