<label class="relative hidden sm:block">
  <input
    type="text"
    @onkeyup="RedirectToSearch"
    @bind="searchQuery"
    class="hidden h-8 overflow-hidden rounded-md border border-black/[.1] px-2 pr-8 text-xs sm:block"
    placeholder="Search a snippet..."
  />
  <div class="right-0 mr-2 mt-2 top-0 absolute">
    <MagnifyIcon class="w-4 h-4 stroke-gray-500" />
  </div>
</label>