<label class="relative hidden sm:block">
  <input
    type="text"
    @onkeyup="RedirectToSearch"
    @bind="searchQuery"
    class="hidden h-8 overflow-hidden rounded-md border border-black/[.1] px-2 pr-8 text-xs sm:block"
    placeholder="Search a snippet..."
  />
  <Image
    Source="assets/magnify.svg"
    Text=""
    Class="absolute right-0 top-0 mr-2 mt-2 h-4 w-4 contrast-0"
  />
</label>