<tr class="hover:bg-white/[.4]">
  <td class="max-w-[200px] overflow-hidden text-ellipsis whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <a href="#" class="text-sky-500 hover:text-sky-400">
      @Title
    </a>
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
    @PublicDate
  </td>
  <td class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    @ExpireTime
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 md:table-cell">
    @Views
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 md:table-cell">
    @Stars
  </td>
  <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">
    @ProgramLanguage
  </td>
  <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <a href="#" class="text-indigo-600 hover:text-indigo-900">
      Edit
    </a>
  </td>
</tr>