<div class="w-full max-w-sm overflow-hidden border-black/[.1] flex-col flex border items-center bg-slate-100 rounded-lg shadow dark:bg-neutral-950 dark:border-white/[.15]">
  <div class="flex w-full border-b border-b-black/[.1] items-center dark:border-b-white/[.15]">
    <p class="px-4 py-2 text-sm dark:text-neutral-200">
      Enter password form
    </p>
  </div>
  <div class="w-full px-4 pt-4 pb-6">
    <label for="password" class="text-sm">
      Password
    </label>
    <div class="mt-1">
      <input
        type="text"
        id="password"
        @onkeyup="HandlePasswordEnterByEnter"
        @bind="InputPassword"
        class="h-8 w-full rounded-md border border-black/[.2] px-2 text-sm shadow-sm focus:ring-0 dark:bg-neutral-950 dark:border-white/[.15] dark:placeholder:text-neutral-600 @(IsErrorInput ? "inputError" : "")"
        placeholder="Enter password..."
      />
    </div>
  </div>
  <div class="flex px-4 pb-3 gap-4 items-center justify-end w-full">
    <button
      type="button"
      @onclick="HandlePasswordEnter"
      class="bg-sky-400 border hover:bg-sky-500 transition-colors border-black/[.1] px-4 py-1 rounded-lg overflow-hidden"
    >
      <p class="text-white text-sm">Enter</p>
    </button>
    <button
      type="button"
      @onclick="CancelCallbackFunction"
      class="text-gray-500 hover:text-gray-700 transition px-4 py-1 rounded-lg border border-black/[.1] overflow-hidden hover:bg-slate-200 dark:text-neutral-300 dark:border-white/[.15] dark:hover:bg-neutral-900"
    >
      <p class="text-sm">Cancel</p>
    </button>
  </div>
</div>