@page "/e/{Id:guid}"

<PageTitle>Codem - Edit form</PageTitle>

<div class="flex h-fit w-full grid-cols-[1fr,300px] grid-rows-1 flex-col gap-2 px-2 pb-4 pt-2 sm:grid sm:flex-none lg:gap-4 lg:px-8">
  @if (IsLoading || SnippetModel == null)
  {
    <CodeEditorStub />
  }
  else
  {
    <CodeEditor
      CodeFileManager="CodeFileManager"
      IsOwner="true"
    />
    <EditSnippetForm
      CodeFileManager="CodeFileManager"
      Model="SnippetModel"
      SnippetId="Id"
    />
  }
</div>