@page "/profile"
@using Blazor.Heroicons.Outline;

<div
  class="mx-auto mt-16 flex w-full max-w-7xl grid-cols-[240px,1fr] grid-rows-1 flex-col gap-4 px-4 sm:grid md:grid-cols-[300px,1fr]"
>
  <div
    class="h-fit w-full overflow-hidden rounded-md border border-black/[.1] bg-slate-100"
  >
    <div
      class="flex h-8 w-full items-center border-b border-b-black/[.1] bg-white/[.7] px-4"
    >
      <p>Profile</p>
    </div>
    <div class="flex h-full w-full flex-col items-center px-2 py-4">
      <div class="flex gap-4 sm:flex-col">
        <div class="flex flex-col items-center gap-1 sm:mx-auto sm:gap-2">
          <div class="h-24 w-24 overflow-hidden rounded-full sm:h-40 sm:w-40">
            <img
              src="assets/avatar.jpg"
              alt=""
              class="h-full w-full"
            />
          </div>
          <p class="hidden text-lg sm:block sm:text-3xl">Ap73MKa</p>
        </div>
        <div class="flex items-start sm:w-full sm:px-12">
          <ul class="flex flex-col gap-1">
            <li class="sm:hidden">
              <p>Ap73MKa</p>
            </li>
            <li>
              <div class="flex items-center gap-2">
                <CodeBracketIcon class="h-4 w-4 text-gray-700" />
                <h1 class="line-clamp-1 text-sm text-slate-800">
                  Python, C#, Java
                </h1>
              </div>
            </li>
            <li>
              <div class="flex items-center gap-2">
                <EyeIcon class="h-4 w-4 text-gray-700" />
                <h1 class="line-clamp-1 text-sm text-slate-800">
                  1.4k
                </h1>
              </div>
            </li>
            <li>
              <div class="flex items-center gap-2">
                <StarIcon class="h-4 w-4 text-gray-700" />
                <h1 class="line-clamp-1 text-sm text-slate-800">
                  120
                </h1>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="h-fit overflow-hidden rounded-md border border-black/[.1] bg-slate-100">
    <div class="-mx-2 overflow-hidden sm:-mx-4 md:mx-0">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="h-8 bg-white/[.7]">
          <tr>
            <th
              scope="col"
              class="max-w-[100px] overflow-hidden text-ellipsis pl-4 pr-3 text-left text-sm font-medium text-gray-900 sm:pl-6"
            >
              Title
            </th>
            <th
              scope="col"
              class="hidden px-3 text-left text-sm font-medium text-gray-900 lg:table-cell"
            >
              Added
            </th>
            <th
              scope="col"
              class="table-cell px-3 text-left text-sm font-medium text-gray-900"
            >
              Expire
            </th>
            <th
              scope="col"
              class="hidden px-3 text-left text-sm font-medium text-gray-900 md:table-cell"
            >
              Views
            </th>
            <th
              scope="col"
              class="hidden px-3 text-left text-sm font-medium text-gray-900 md:table-cell"
            >
              Stars
            </th>
            <th
              scope="col"
              class="hidden px-3 text-left text-sm font-medium text-gray-900 lg:table-cell"
            >
              Syntax
            </th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
        <ProfileTableItem
          Title="Python code"
          PublicDate="DateOnly.FromDateTime(DateTime.Today)"
          ExpireTime="1 week"
          Views="1400"
          Stars="100"
          ProgramLanguage="Python"
        />
        </tbody>
      </table>
    </div>
  </div>
</div>