@page "/profile"

<div
  class="mx-auto mt-16 flex w-full max-w-7xl grid-cols-[240px,1fr] grid-rows-1 flex-col gap-4 px-4 sm:grid md:grid-cols-[300px,1fr]">
  <AccountInfo />
  <AccountSnippetsTable />
</div>