@inherits LayoutComponentBase

<PageTitle>Codem - Admin</PageTitle>

<div class="main-layout__container">
  <div class="main-layout__navbar">
    <Navbar/>
  </div>
  <main class="main-layout__content">
    @Body
  </main>
</div>
