@inherits ComponentBase

<div class="navbar__container">
  <div class="navbar__header">
    <a href="/" class="navbar__header-title">
      <img src="codem.svg" alt="" />
    </a>
  </div>
  <ul class="navbar__list">
    <a href="/snippets">
      <li class="navbar__list-item">
        <RadzenIcon Icon="accessibility"/>
        <p>Users</p>
      </li>
    </a>
    <a href="/snippets">
      <li class="navbar__list-item">
        <RadzenIcon Icon="code"/>
        <p>Snippets</p>
      </li>
    </a>
  </ul>
</div>
