@inherits ComponentBase

<footer class="w-full">
  <div
    class="mx-auto max-w-7xl p-6 md:flex md:items-center md:justify-between lg:px-8"
  >
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-xs leading-5 text-neutral-600">
        @Incorporated
      </p>
    </div>
  </div>
</footer>
