@inherits ComponentBase
@using HeroIcons.Blazor.Solid

<header class="fixed z-20 h-12 w-full border-b border-b-black/[.1] bg-slate-100 dark:bg-neutral-950 dark:border-b dark:border-b-white/[.15]">
  <div class="mx-auto flex h-full max-w-screen-2xl items-center justify-between gap-2 px-4 lg:px-8">
    <div class="flex h-full items-center gap-4 sm:gap-10">
      <a href="@RouteUtils.Home">
        <img src="assets/codem.svg" alt="" class="h-5 dark:invert"/>
      </a>
      <div class="flex gap-2 sm:gap-4">
        <a
          href="/"
          class="flex h-8 items-center rounded-md border border-black/[.1] bg-sky-400 px-4 shadow-sm hover:bg-sky-500">
          <p class="text-xs font-semibold text-white">New</p>
        </a>
        <a
          href="@RouteUtils.Search"
          class="h-8 w-8 flex items-center justify-center overflow-hidden rounded-md border border-black/[.1] bg-white shadow-sm hover:bg-slate-100 sm:hidden">
          <MagnifyIcon class="w-4 h-4 stroke-gray-500"/>
        </a>
        <HeaderSearch/>
      </div>
    </div>
    <div class="flex gap-6 h-full items-center">
      <button @onclick="ToggleTheme" class="w-6 h-full flex items-center justify-center">
            @if (IsDarkMode)
            {
              <SunIcon class="h-5 w-5 text-white" />
            }
            else
            {
              <MoonIcon class="h-5 w-5 text-black" />
            }
          </button>
      <a href="@RouteUtils.Profile" class="flex h-full cursor-pointer items-center gap-2">
        <div class="h-6 w-6 overflow-hidden rounded-full">
          <img src="assets/avatar.jpg" alt=""/>
        </div>
        <div class="hidden sm:block">
          <p class="text-sm font-semibold text-slate-800 dark:text-neutral-200">Ap73MKa</p>
        </div>
      </a>
    </div>

  </div>
</header>
