@using Blazor.Heroicons;

<div class="flex items-center gap-2">
  <Heroicon Name="@StatModel.IconName" Type="HeroiconType.Outline" class="h-4 w-4 text-gray-700 dark:text-neutral-300" />
  <h1 class="line-clamp-1 text-sm text-slate-800 dark:text-neutral-200">
    @StatModel.Value
  </h1>
</div>