@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex min-h-screen flex-col w-full h-full;
  }

  .dark {
    color-scheme: dark;
  }
}

@layer components {
  #blazor-error-ui {
    @apply bg-yellow-200 fixed hidden bottom-0 left-0 w-full z-50 shadow-md p-2;
  }

  #blazor-error-ui .dismiss {
    @apply cursor-pointer absolute top-2 right-2;
  }
}

.loadingContainer {
  @apply w-full h-[26px] animate-pulse bg-slate-100 dark:bg-neutral-900;
}

.inputError {
  @apply !border-red-500;
}

.modalBackground {
  @apply bg-gray-900/[.3] dark:bg-black/[.6] absolute inset-0 z-40;
}

.cm-editor.cm-focused {
  @apply !outline-none;
}

.cm-activeLineGutter {
  @apply dark:bg-neutral-800;
}

.cm-activeLine {
  @apply dark:bg-white/[.1];
}

.cm-gutters {
  @apply bg-slate-100 dark:bg-neutral-900 dark:border-r-white/[.15];
}

.cm-selectionBackground {
  @apply dark:!bg-sky-300/[.3];
}

.cm-focused .cm-cursor {
  @apply dark:border-l-white;
}

.cm-tooltip {
  @apply rounded-md !overflow-hidden !bg-slate-100 !border-black/[.1] shadow dark:!bg-neutral-950 dark:!border-white/[.15];
}

.cm-tooltip.cm-tooltip-autocomplete ul {
  @apply scrollbar-thin scrollbar-thumb-slate-300 scrollbar-corner-transparent scrollbar-track-transparent dark:scrollbar-thumb-neutral-700
}

.thin-scroll {
  @apply scrollbar-thin scrollbar-thumb-slate-300 scrollbar-corner-transparent scrollbar-track-transparent dark:scrollbar-thumb-neutral-700
}

.blazored-toast {
  @apply bg-slate-50 flex p-3 shadow-xl border-t-0 rounded-lg items-center transition-all w-fit max-w-[20rem] transform scale-95 opacity-0 translate-y-4 dark:bg-neutral-900;
  animation: fadeInScale 0.3s ease-in-out forwards;
}

.blazored-toast-icon {
  @apply w-10;
}

.blazored-toast-close {
  @apply flex justify-end mt-[1px] w-8 scale-75 contrast-0;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translateY(4rem) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.blazored-toast-container {
  @apply flex flex-col fixed z-50 bottom-4 left-4 gap-2;
}

.blazored-toast-success .blazored-toast-icon svg {
  filter: invert(52%) sepia(89%) saturate(1624%) hue-rotate(85deg) brightness(100%) contrast(80%);
}

.blazored-toast-error .blazored-toast-icon svg {
  filter: invert(37%) sepia(76%) saturate(6690%) hue-rotate(344deg) brightness(90%) contrast(93%);
}

.blazored-toast-progressbar {
  @apply absolute bottom-0 left-0 right-0 h-1 rounded-b-md overflow-hidden;
}

.blazored-toast-progressbar span {
  @apply relative flex flex-row transition-all h-full bg-gray-200 dark:bg-white/[.2];
}